@import "/assets/style/_util.*";

/** ROOT ********************/

:root {
  --font-face-base: "Public Sans", sans-serif;
  --font-face-code: "Iosevka SS08", monospace;

  --font-size-s1: 0.875rem;
  --font-size-md: 1rem;
  --font-size-l1: calc(var(--font-size-md) * 1.35);
  --font-size-l2: calc(var(--font-size-l1) * 1.35);
  --font-size-l3: calc(var(--font-size-l2) * 1.35);
}

:root {
  --color-fg: var(--gray-800);
  --color-bg: var(--gray-100);
  --color-bg-nav: var(--gray-200);

  --color-em-fg: var(--red-500);

  --color-mark-bg: var(--yellow-300);
  --color-mark-fg: #000;

  --color-pre-bg: var(--gray-100);
  --color-pre-fg: #000;

  --color-code-fg: var(--teal-800);
  --color-code-fg-muted: var(--teal-600);

  --color-muted-fg: var(--gray-500);

  --color-link-fg: var(--blue-500);
  --color-link-fg-hover: var(--gray-500);
  --color-link-fg-external: var(--gray-800);
  --color-link-fg-external-hover: var(--gray-500);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: var(--gray-100);
    --color-bg: var(--gray-800);
    --color-bg-nav: var(--gray-700);

    --color-em-fg: var(--red-400);

    --color-mark-bg: var(--yellow-900);
    --color-mark-fg: #fff;

    --color-pre-bg: var(--gray-900);
    --color-pre-fg: #fff;

    --color-code-fg: var(--teal-200);
    --color-code-fg-muted: var(--teal-300);

    --color-muted-fg: var(--gray-300);

    --color-link-fg: var(--blue-400);
    --color-link-fg-hover: var(--gray-400);
    --color-link-fg-external: var(--gray-100);
    --color-link-fg-external-hover: var(--gray-400);
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5; /* 24 px */

  text-rendering: geometricPrecision;
}

@media screen and (min-width: 800px) and (min-height: 600px) {
  html {
    font-size: 112.5%;
  }
}

body {
  font-family: var(--font-face-base);

  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;

  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 8%;

  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 8%;

  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

/** WRAPPER + NAVIGATION ********************/

body {
  background: var(--color-bg);
  color: var(--color-fg);
}

.body {
  min-height: 100vh;
}

.body-inside {
  max-width: 36rem;

  @extend .p-3;
  @extend .md\:p-4;
}

.nav {
  background: var(--color-bg-nav);
}

.nav ul {
  padding: 1.25rem;
}

.nav li {
  list-style-type: none;
  display: inline;

  margin-left: 1rem;
}

.nav li:first-child {
  margin-left: 0;
}

@media screen and (max-width: 40rem), screen and (max-height: 30rem) {
  .body {
    display: flex;

    flex-direction: column;
  }

  .body-inside {
    flex-grow: 1;
  }

  .nav {
    flex-grow: 0;
  }
}

@media screen and (min-width: 40rem) and (min-height: 30rem) {
  .body {
    padding-left: 4rem;
  }

  .nav {
    width: 100vh;

    position: fixed;
    bottom: 0;
    left: 4rem;

    transform-origin: left bottom;
    transform: rotate(-90deg);

    text-align: right;
  }

  .nav ul {
    padding: 1.5rem;
  }
}

/** BLOCK ELEMENTS ********************/

p {
  @extend .font-size-md;
  @extend .line-height-md;

  widows: 2;
  orphans: 2;
}

* + p,
* + .blocks,
* + ul,
* + ol,
* + blockquote,
* + pre {
  @extend .mt-3;
}

ul.no-bullets {
  list-style-type: none;
  @extend .pl-0;
}

ul,
ol {
  @extend .pl-3;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
}

ul ul,
ul ol,
ol ul,
ol ol {
  @extend .mt-0;
}

.spaced > li {
  margin-top: 1.5rem;
}

.block-detail {
  @extend .pl-3;
}

.blocks-inline .block-title,
.blocks-inline .block-detail {
  display: inline;

  @extend .pl-0;
}

h1,
h2 {
  @extend .font-size-xl;
  @extend .line-height-xl;
  font-weight: normal;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.15ch;

  @extend .mb-5;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: calc(3 / 4 * 1.5rem);
}

h1::after {
  content: "";
  align-self: center;
  border-top: 2px solid var(--color-fg);
}

h2 {
  @extend .mt-5;
  @extend .mb-3;

  letter-spacing: -0.03ch;
}

.meta {
  @extend .font-size-md;
  @extend .line-height-md;
  @extend .text-muted;

  position: relative;
  top: -1.5rem;
}

blockquote {
  font-style: italic;
  padding-left: 1.5rem;
}

blockquote em {
  font-style: normal;
}

blockquote strong {
  font-style: normal;
}

/** INLINE ELEMENTS ********************/

.highlight {
  color: var(--color-em-fg);
}

a {
  color: var(--color-link-fg);

  text-underline-offset: 0.1875em;
}

a:hover {
  color: var(--color-link-fg-hover);
}

a[href*="//"]:not([href*="denisdefreyne.com"])
{
  color: var(--color-link-fg-external);
}

a[href*="//"]:not([href*="denisdefreyne.com"]):after
{
  content: "►";

  transform-origin: middle middle;
  transform: rotate(-45deg);

  font-family: var(--font-face-code);

  display: inline-block;

  position: relative;

  width: 0.5rem;
  top: -0.35rem;
  left: 0rem;

  text-decoration: none;
}

a[href*="//"]:not([href*="denisdefreyne.com"]):hover
{
  color: var(--color-link-fg-external-hover);
}

del {
  color: var(--red-500);
}

ins {
  color: var(--green-600);
}

mark {
  background: var(--color-mark-bg);
  color: var(--color-fg-mark);
}

.path {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  font-style: italic;
}

/** CODE ********************/

code,
kbd,
pre,
samp {
  font-family: var(--font-face-code);
  font-weight: 400;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

code {
  color: var(--color-code-fg);
}

pre > code {
  color: var(--color-pre-fg);
}

pre {
  break-before: avoid;
  break-inside: avoid;

  margin-top: 1.5rem;
  padding: 1rem;
  background: var(--color-pre-bg);
  color: var(--color-pre-fg);

  white-space: pre-wrap;
}

/** SIDENOTES **********/

.sidenote-container {
  position: relative;
}

.sidenote {
  font-family: var(--font-face-base);
}

@media screen and (max-width: 60rem) {
  .sidenote {
    display: inline;
    font-style: italic;
  }
}

@media screen and (min-width: 60rem) {
  .sidenote {
    position: absolute;

    display: block;

    width: 12rem;
    left: calc(100% - 1.5rem);

    margin-top: -1.5rem;
  }

  .sidenote,
  .sidenote code {
    font-size: 0.85rem;
    line-height: 1.35;
  }

  .sidenote-pre,
  .sidenote-post {
    display: none;
  }

  .sidenote {
    display: block;
    font-style: normal;
  }
}

/** UTILS ********************/

.text-muted {
  color: var(--color-muted-fg);
}
