$scale: (
  "0": 0,
  "1": 1,
  "2": 2,
  "3": 4,
  "4": 8,
  "5": 16,
);

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@each $i, $j in $scale {
  .pt-#{$i} {
    padding-top: calc(#{$j} * 0.375rem) !important;
  }

  .pb-#{$i} {
    padding-bottom: calc(#{$j} * 0.375rem) !important;
  }

  .pl-#{$i} {
    padding-left: calc(#{$j} * 0.375rem) !important;
  }

  .pr-#{$i} {
    padding-right: calc(#{$j} * 0.375rem) !important;
  }

  .px-#{$i} {
    padding-left: calc(#{$j} * 0.375rem) !important;
    padding-right: calc(#{$j} * 0.375rem) !important;
  }

  .py-#{$i} {
    padding-top: calc(#{$j} * 0.375rem) !important;
    padding-bottom: calc(#{$j} * 0.375rem) !important;
  }

  .p-#{$i} {
    padding-top: calc(#{$j} * 0.375rem) !important;
    padding-right: calc(#{$j} * 0.375rem) !important;
    padding-bottom: calc(#{$j} * 0.375rem) !important;
    padding-left: calc(#{$j} * 0.375rem) !important;
  }

  .mt-#{$i} {
    margin-top: calc(#{$j} * 0.375rem) !important;
  }

  .mb-#{$i} {
    margin-bottom: calc(#{$j} * 0.375rem) !important;
  }

  .ml-#{$i} {
    margin-left: calc(#{$j} * 0.375rem) !important;
  }

  .mr-#{$i} {
    margin-right: calc(#{$j} * 0.375rem) !important;
  }

  .mx-#{$i} {
    margin-left: calc(#{$j} * 0.375rem) !important;
    margin-right: calc(#{$j} * 0.375rem) !important;
  }

  .my-#{$i} {
    margin-top: calc(#{$j} * 0.375rem) !important;
    margin-bottom: calc(#{$j} * 0.375rem) !important;
  }

  .m-#{$i} {
    margin-top: calc(#{$j} * 0.375rem) !important;
    margin-right: calc(#{$j} * 0.375rem) !important;
    margin-bottom: calc(#{$j} * 0.375rem) !important;
    margin-left: calc(#{$j} * 0.375rem) !important;
  }

  .top-#{$i} {
    top: calc(#{$j} * 0.375rem) !important;
  }

  .top-n#{$i} {
    top: calc(-1 * #{$j} * 0.375rem) !important;
  }

  .right-#{$i} {
    right: calc(#{$j} * 0.375rem) !important;
  }

  .right-n#{$i} {
    right: calc(-1 * #{$j} * 0.375rem) !important;
  }

  .bottom-#{$i} {
    bottom: calc(#{$j} * 0.375rem) !important;
  }

  .bottom-n#{$i} {
    bottom: calc(-1 * #{$j} * 0.375rem) !important;
  }

  .left-#{$i} {
    left: calc(#{$j} * 0.375rem) !important;
  }

  .left-n#{$i} {
    left: calc(-1 * #{$j} * 0.375rem) !important;
  }
}

@media screen and (min-width: 40rem) {
  @each $i, $j in $scale {
    .md\:pt-#{$i} {
      padding-top: calc(#{$j} * 0.375rem) !important;
    }

    .md\:pb-#{$i} {
      padding-bottom: calc(#{$j} * 0.375rem) !important;
    }

    .md\:pl-#{$i} {
      padding-left: calc(#{$j} * 0.375rem) !important;
    }

    .md\:pr-#{$i} {
      padding-right: calc(#{$j} * 0.375rem) !important;
    }

    .md\:px-#{$i} {
      padding-left: calc(#{$j} * 0.375rem) !important;
      padding-right: calc(#{$j} * 0.375rem) !important;
    }

    .md\:py-#{$i} {
      padding-top: calc(#{$j} * 0.375rem) !important;
      padding-bottom: calc(#{$j} * 0.375rem) !important;
    }

    .md\:p-#{$i} {
      padding-top: calc(#{$j} * 0.375rem) !important;
      padding-right: calc(#{$j} * 0.375rem) !important;
      padding-bottom: calc(#{$j} * 0.375rem) !important;
      padding-left: calc(#{$j} * 0.375rem) !important;
    }

    .md\:mt-#{$i} {
      margin-top: calc(#{$j} * 0.375rem) !important;
    }

    .md\:mb-#{$i} {
      margin-bottom: calc(#{$j} * 0.375rem) !important;
    }

    .md\:ml-#{$i} {
      margin-left: calc(#{$j} * 0.375rem) !important;
    }

    .md\:mr-#{$i} {
      margin-right: calc(#{$j} * 0.375rem) !important;
    }

    .md\:mx-#{$i} {
      margin-left: calc(#{$j} * 0.375rem) !important;
      margin-right: calc(#{$j} * 0.375rem) !important;
    }

    .md\:my-#{$i} {
      margin-top: calc(#{$j} * 0.375rem) !important;
      margin-bottom: calc(#{$j} * 0.375rem) !important;
    }

    .md\:m-#{$i} {
      margin-top: calc(#{$j} * 0.375rem) !important;
      margin-right: calc(#{$j} * 0.375rem) !important;
      margin-bottom: calc(#{$j} * 0.375rem) !important;
      margin-left: calc(#{$j} * 0.375rem) !important;
    }

    .md\:top-#{$i} {
      top: calc(#{$j} * 0.375rem) !important;
    }

    .md\:top-n#{$i} {
      top: calc(-1 * #{$j} * 0.375rem) !important;
    }

    .md\:right-#{$i} {
      right: calc(#{$j} * 0.375rem) !important;
    }

    .md\:right-n#{$i} {
      right: calc(-1 * #{$j} * 0.375rem) !important;
    }

    .md\:bottom-#{$i} {
      bottom: calc(#{$j} * 0.375rem) !important;
    }

    .md\:bottom-n#{$i} {
      bottom: calc(-1 * #{$j} * 0.375rem) !important;
    }

    .md\:left-#{$i} {
      left: calc(#{$j} * 0.375rem) !important;
    }

    .md\:left-n#{$i} {
      left: calc(-1 * #{$j} * 0.375rem) !important;
    }
  }
}

@media screen and (min-width: 65.5rem) {
  @each $i, $j in $scale {
    .lg\:pt-#{$i} {
      padding-top: calc(#{$j} * 0.375rem) !important;
    }

    .lg\:pb-#{$i} {
      padding-bottom: calc(#{$j} * 0.375rem) !important;
    }

    .lg\:pl-#{$i} {
      padding-left: calc(#{$j} * 0.375rem) !important;
    }

    .lg\:pr-#{$i} {
      padding-right: calc(#{$j} * 0.375rem) !important;
    }

    .lg\:px-#{$i} {
      padding-left: calc(#{$j} * 0.375rem) !important;
      padding-right: calc(#{$j} * 0.375rem) !important;
    }

    .lg\:py-#{$i} {
      padding-top: calc(#{$j} * 0.375rem) !important;
      padding-bottom: calc(#{$j} * 0.375rem) !important;
    }

    .lg\:p-#{$i} {
      padding-top: calc(#{$j} * 0.375rem) !important;
      padding-right: calc(#{$j} * 0.375rem) !important;
      padding-bottom: calc(#{$j} * 0.375rem) !important;
      padding-left: calc(#{$j} * 0.375rem) !important;
    }

    .lg\:mt-#{$i} {
      margin-top: calc(#{$j} * 0.375rem) !important;
    }

    .lg\:mb-#{$i} {
      margin-bottom: calc(#{$j} * 0.375rem) !important;
    }

    .lg\:ml-#{$i} {
      margin-left: calc(#{$j} * 0.375rem) !important;
    }

    .lg\:mr-#{$i} {
      margin-right: calc(#{$j} * 0.375rem) !important;
    }

    .lg\:mx-#{$i} {
      margin-left: calc(#{$j} * 0.375rem) !important;
      margin-right: calc(#{$j} * 0.375rem) !important;
    }

    .lg\:my-#{$i} {
      margin-top: calc(#{$j} * 0.375rem) !important;
      margin-bottom: calc(#{$j} * 0.375rem) !important;
    }

    .lg\:m-#{$i} {
      margin-top: calc(#{$j} * 0.375rem) !important;
      margin-right: calc(#{$j} * 0.375rem) !important;
      margin-bottom: calc(#{$j} * 0.375rem) !important;
      margin-left: calc(#{$j} * 0.375rem) !important;
    }

    .lg\:top-#{$i} {
      top: calc(#{$j} * 0.375rem) !important;
    }

    .lg\:top-n#{$i} {
      top: calc(-1 * #{$j} * 0.375rem) !important;
    }

    .lg\:right-#{$i} {
      right: calc(#{$j} * 0.375rem) !important;
    }

    .lg\:right-n#{$i} {
      right: calc(-1 * #{$j} * 0.375rem) !important;
    }

    .lg\:bottom-#{$i} {
      bottom: calc(#{$j} * 0.375rem) !important;
    }

    .lg\:bottom-n#{$i} {
      bottom: calc(-1 * #{$j} * 0.375rem) !important;
    }

    .lg\:left-#{$i} {
      left: calc(#{$j} * 0.375rem) !important;
    }

    .lg\:left-n#{$i} {
      left: calc(-1 * #{$j} * 0.375rem) !important;
    }
  }
}
