@import "/assets/style/_util_color.*";
@import "/assets/style/_util_spacing.*";

$font-weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;

/** SIZING ********************/

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

/** DISPLAY ********************/

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-inline {
  display: inline;
}

.flex-column {
  flex-direction: column;
}

@media screen and (min-width: 65.5rem) {
  .lg\:flex-column {
    flex-direction: column;
  }
}

/** FONT ********************/

@each $font-weight in $font-weights {
  .font-weight-#{$font-weight} {
    font-weight: $font-weight;
  }
}

/** TEXT ********************/

.no-hyphens {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.no-break {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.letter-spacing-1 {
  letter-spacing: 0.1ch;
}

/** POSITION ********************/

.pos-relative {
  position: relative !important;
}

.pos-absolute {
  position: absolute !important;
}

.pos-fixed {
  position: fixed !important;
}

.z-100 {
  z-index: 100;
}
