---
title: "Denis Defreyne"
nav_title: "denisdefreyne.com"
type: profile
skip_nav: true
layout: "/2021q3.*"
---

<p class="mb-5 font-size-3xl line-height-3xl">Hello! This is <em>Denis&nbsp;Defreyne</em> speaking.</p>

<p>I’m a software engineer based in Berlin, Germany. My pronouns are <a href="notes/xzmc7-zr7p9-7fcpp/">he/him</a>.</p>

<p>I currently work at <a href="https://shopify.com">Shopify</a>. In the past, I’ve worked for <a href="https://soundcloud.com">SoundCloud</a>, <a href="https://bcgdv.com">BCG Digital Ventures</a>, <a href="https://pitch.com">Pitch</a>, and others.</p>

<p>I created <a href="https://nanoc.ws" title="Nanoc, a mature static-site generator">Nanoc</a>, a mature static-site generator written in Ruby, and led the implementation of <a href="https://closecontact.club">closecontact</a>, a COVID-19 contact-sharing solution for Berlin&nbsp;clubs. I also wrote a <a href="/software/">bunch more software</a>.</p>

<p>You might be curious <%= link_to 'what’s top of mind' , @items['/notes/149E38EC-3FB7-4D4F-8CB1-24BA9A24F8DF-38501-00015B8C3C9DAC34.*'] %> right now, or be interested in my <%= link_to 'perpetual interests', '/notes/krhpl-ztflh-rncvr/' %>.</p>

<p>Get in touch with me <a href="https://twitter.com/ddfreyne" title="Denis Defreyne on Twitter">on Twitter</a> or <a href="https://www.linkedin.com/in/denisdenisdenisss/" title="Denis Defreyne on LinkedIn">on LinkedIn</a>.</p>
